<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Pham Van Luan</string>
	<string>Pham Thanh Hung</string>
	<string>Nguyen Van An</string>
	<string>Nguyen Thi Huong</string>
	<string>Dang Van Cong</string>
	<string>Dang Thi Thuy Hang</string>
	<string>Cao Tien Hung</string>
	<string>Cao Van Minh</string>
	<string>Bui De Kien</string>
	<string>Bui Tien Minh</string>
	<string>Bui Thu Huong</string>
	<string>Pham Thi My Hoa</string>
	<string>Luong Xuan Tung</string>
	<string>Luong Thi Huyen</string>
	<string>Mai Van Hung</string>
	<string>Mai Thi Thu </string>
	<string>Tran Van Thanh</string>
	<string>Tran Thi Tuyet Nhung</string>
	<string>Tran Trung Kien</string>
</array>
</plist>
